<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="box" id="heading">
    <h1>It's <%=kindOfday%></h1> <!--kindOfday is a marker in ejs which is used to mark the part of html that has to be replaced with 
        the variable coming from the js file--> 
        <!--javascript control flow code. in ejs we need to use  < % % > tags to indicate flow control in a html code.
        this tag needs to applied to each line of code that is not html.-->
    </div>
    <div class="box">
        <%for(var i=0; i<newListItems.length;i++){%>
            <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i]%></p>
            </div>
            
        <%}%> 
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>
      
    
        
    </body>
</html>